<meta http-equiv=refresh content=4 />
<table>
<tr><th>product_5</th><th>lissabon</th><th>3331</th></tr>
<tr><td>product_2</td><td>amsterdam</td><td>3149</td></tr>
<tr><td>product_10</td><td>stockholm</td><td>3105</td></tr>
<tr><td>product_10</td><td>helsinki</td><td>2858</td></tr>
<tr><td>product_5</td><td>helsinki</td><td>2846</td></tr>
<tr><td>product_5</td><td>london</td><td>2760</td></tr>
<tr><td>product_10</td><td>prague</td><td>2724</td></tr>
<tr><td>product_5</td><td>innsbruck</td><td>2702</td></tr>
<tr><td>product_2</td><td>lissabon</td><td>2672</td></tr>
<tr><td>product_10</td><td>edinburgh</td><td>2641</td></tr>
<tr><td>product_10</td><td>innsbruck</td><td>2599</td></tr>
<tr><td>product_6</td><td>helsinki</td><td>2579</td></tr>
</table>
